.grillaCarrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.grillaCarrito div span{
    color: red;
    text-decoration: underline;
}
.precioTotal{
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    color: blue;
}
.precioTotal span{
    color: white;
}
#titleCarrito{
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: yellow;
}
.carritoVacio{
    font-size: 40px;
    color: blue;
    text-align: center;
}
.clickCarritoVacio{
    color: yellow;
    text-decoration: none;
}
.clickCarritoVacio:hover{
    transition: .4s;
    font-size: 45px;
    color: white;
}
.clear{
    right: 1200px;
    position: absolute;
    display: block;
    text-align: right;
}
.buttonCart{
    left: 0px;
    top: 168px;
    cursor: pointer;
    transition: 0.3s;
    border: solid black 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
}
.buttonCart:hover{
    color: red;
    transition: 0.3s;
}
.buttonOrden{
    left: 940px;
    top: 605px;
    position:fixed;
    cursor: pointer;
    transition: 0.5s;
    border: solid blue 2px;
    color: yellow;
    font-size: 40px;
}
.buttonOrden:hover{
    color: white;
    transition: 0.5s;
}
img{
    margin: 0;
}