.displayGrid{
    display: grid;
    justify-content: center;
}
.imagenDetail{
    display: flex;
    justify-content: start;
    margin-left: 150px;
}
.itemDetail{
    color: blue;
    font-size: 20px;
}
.itemDetail span{
    color: green;
}
.description{
    color: white;
    font-size: 15px;
}
.irCarrito{
    font-size: 30px;
    color: red;
    margin-top: 100px;
}
img{
    margin-left: 100px;
    width:200px;
    height: auto;
}