#catalogo{
    color: yellow;
    font-size: 70px;
}
#catalogo:hover{
    color: white;
}
#tituloTienda{
    display: flex;
    justify-content: center;
    color: red;
    font-size: 100px;
}
.cargando{
    font-size: 90px;
    color: red;
    text-align: center;
}