img{
    width: 200px;
    height: 100px;
}
li{
    padding-top: 15px;
}
.flexItems{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 40px;
}
.cero{
    display:none;
}
.acomodoItem{
    padding-top: 20px;
    min-width: 300px;
}
.acomodoItemDos{
    padding-top: 20px;
    min-width: 320px;
}
#cero .acomodoItemDos{
    border: solid blue 5px;
    margin-left: 200px;
}
#cero .acomodoItem{
    border: solid red 5px;
    margin-right: 600px;
}
a{
    height: 10%;
}
a:hover{
    color: yellow;
}