img{
    width: 200px;
}
.flexItems{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 40px;
}
.cero{
    display:none;
}
#cero .acomodoItemDos{
    border: solid blue 5px;
    margin-left: 200px;
}
#cero .acomodoItem{
    border: solid red 5px;
    margin-right: 600px;
}