#navBar{
    background-color: blue;
    min-height: 30vh;
}
#mainHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#logo{
    width: 40px;
    display: inline-block;
}
.logoAcompaña{
    color: white;
    display: inline-block;
}
.tienda{
    font-size: 30px;
    text-align: center;
    color: yellow;
}
#ordenNavBar{
    display: flex;
    justify-content: space-around;
}
.button{
    font-size: 50px;
    transition: 0.1s;
    display: inline-block;
    text-decoration: none;
    color: white;
}
.button:hover{
    transition: 0.5s;
    font-size: 50px;
    color: red;
    cursor: pointer
}
.active{
    transition: 0.5s;
    font-size: 50px;
    color: red;
    cursor: none;
    pointer-events: none;
}